* {
  margin: 0;
}
body {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}
.continar {
  height: fit-content;
  padding: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 300px;
  border-radius: 50px;
  text-align: center;
  border: 2px solid #3caf9e;
}

h1 {
  margin-bottom: 10px;
  color: #3caf9e;
}

input {
  background-color: transparent;
  color: #3caf9e;
  border-bottom: 1px solid #3caf9e;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}

input:focus {
  outline: none;
}

label {
  color: #3caf9e;
  line-height: 1.8;
}

button {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 15px;
  padding: 5px;
  background-color: #3caf9e;
}

button.lg {
  width: 10em;
  margin-top: 10px;
}

button.lg:hover {
  animation: none;
}

button + span {
  display: block;
  color: #3caf9e;
}

button:hover {
  animation: move 2s alternate infinite;
}
@keyframes move {
  20% {
    transform: scale(1.5);
  }
  40% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0.8);
  }
}

span {
  padding-top: 5px;
}

.continar .sn {
  color: #3caf9e;
  font-weight: bold;
  font-size: 20px;
}

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  body {
    overflow: hidden;
  }
  .continar {
    max-width: 100%;
    border: none;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  button {
    width: 100px;
    margin: 20px auto;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
/* 
// XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
